<p id="hitokoto">
  <a href="#" id="hitokoto_text" style="text-decoration: none">hitokoto!</a>
</p>

<script>
  const hitokotoElement = document.querySelector("#hitokoto_text");

  fetch("https://v1.hitokoto.cn?c=k")
    .then((response) => response.json())
    .then((data) => {
      const hitokoto = document.querySelector("#hitokoto_text");
      hitokoto.href = `https://hitokoto.cn/?uuid=${data.uuid}`;
      hitokoto.innerText = data.hitokoto;
    })
    .catch(console.error);

  hitokotoElement.addEventListener("click", function (event) {
    event.preventDefault();
  });
</script>
